{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.orders'|trans }}</li>
    <li><a href="{{ path('fullpipe_sylius_backend_banner_index') }}">{{ 'sylius.breadcrumb.banner.index'|trans }}</a></li>
</ol>
{% endblock %}


{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'sylius.banner.create_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('fullpipe_sylius_backend_banner_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'FullpipeBannerBundle:Sylius/Backend/Banner:_form.html.twig' %}
    {{ create() }}
</form>
{% endblock %}
