{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'FullpipeBannerBundle:Place:macros.html.twig' as macros %}

<h1>{{ 'fullpipe_banner.place.header_index'|trans|raw }}</h1>
<hr />

<div class="well">
    {{ buttons.create(path('fullpipe_sylius_backend_place_create'), 'fullpipe_banner.place.create_place'|trans) }}
</div>

{% if places.haveToPaginate()|default(false) %}
    {{ pagerfanta(places, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(places) }}

{% if places.haveToPaginate()|default(false) %}
    {{ pagerfanta(places, 'twitter_bootstrap_translated') }}
{% endif %}
