{% macro list(banners) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if banners|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>{{ sylius_resource_sort('id', 'sylius.banner.name'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for banner in banners %}
        <tr id="{{ banner.id }}">
            <td>
                <img src="{{ banner.hasPath ? banner.path|imagine_filter('sylius_50x40') : 'http://placehold.it/50x40' }}" alt="" class="imgmedia-object" />
            </td>
            <td>
                {{ banner.name }}
            </td>
            <td>
                <div class="pull-right">
                {{ buttons.edit(path('fullpipe_sylius_backend_banner_update', {'id': banner.id})) }}
                {{ buttons.delete(path('fullpipe_sylius_backend_banner_delete', {'id': banner.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('sylius.banner.no_results'|trans) }}
{% endif %}

{% endmacro %}
